@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-conteiner {
    margin: auto;
    width: 1200px;
}

.page-header {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    margin: 0 auto;
    width: 1060px;
}

.navigation {
    display: flex;
    margin: 0 auto;
    width: 876px;
    margin-right: 0px;
}

.navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 440px;
}

.navigation-user {
    max-width: 360px;
    margin-left: auto;
}

.navigation-link {
    position: relative;
    display: block;
    flex-wrap: wrap;
    padding: 20px 16px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.navigation-link:focus {
    border-bottom: 2px solid #756257;
    outline: none;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #dbdbdb;
}

.navigation-favorite {
    position: absolute;
    top: 11px;
    left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 10px;
    padding: 5px;
}

.button-link {
    padding: 8px 34px;
    background-color: #756157;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 14px;
}

.button-link:hover {
    background: #615048;
}

.button-link:focus {
    background: #615048;
}

.button-link:active {
    color: #ffffff4d;
    background: #756157;
}

.button:disabled {
    background: #E5E5E5;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
}

.main-conteiner {
    flex-grow: 1;
}

.page-container {
    margin: 0 auto;
}

.main-index {
    color: #000;
    background-color: #fff;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.companies {
    padding-top: 51px;
    text-align: center;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.main-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
}

.background-bottom {
    background-position: bottom;
}

.visually-hidden {
    padding: 0;
    margin: 0;
}

.main-tagline {
    text-align: center;
    padding-top: 69px;
    margin-bottom: 90px;
}

.tagline {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 620px;
}

.reasons {
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333;
}

.about-table-header {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 92px 112px 30px 112px;
}

.table-header-border {
    padding: 0;
    margin: 0 auto;
    border: 2px solid #ffffff4d;
    width: 60px;
    margin-bottom: 30px;
}

.about-table-main {
    font-size: 18px;
    line-height: 21px;
    padding: 0 85px;
    margin-bottom: 111px;
}

.about-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

.about-item {
    width: 400px;
    max-height: 384px;
    text-align: center;
    background-color: #83b3d31f;
}

.about-icon {
    padding-top: 80px;
    fill: #83B3D3;
}

.about-iteam-title {
    display: flex;
    width: 1200px;
    color: #F2F2F2;
    background-color: #82B3D3;
}

.conteiner-about-iteam {
    margin: auto;
    max-height: 384px;
}

.about-title {
    color: #000;
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 113px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.about-title-border {
    padding: 0;
    margin: 0 auto;
    border: 2px solid #0000004d;
    width: 60px;
    margin-bottom: 30px;
}

.about-title-item {
    margin-bottom: 30px;
}

.about-discription {
    color: #333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0px 85px;
    margin-bottom: 121px;
}

.about-discription-item {
    margin-bottom: 81px;
}

.about-item-road {
    background-color: #83b3d333;
}

.about-item-food {
    background-color: #fff;
}

.search {
    padding: 0;
    padding-top: 91px;
    padding-bottom: 96px;
    margin: 0;
    text-align: center;
}

.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.search-discription {
    color: #333;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 592px;
    margin-bottom: 54px;
}

.button {
    font-family: inherit;
    text-decoration: none;
    padding: 8px 50px;
    cursor: pointer;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-search {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    background: #756157;
    cursor: pointer;
    border-radius: 4px;
}

.button-search:hover {
    background: #615048;
}

.button-search:focus {
    background: #615048;
}

.button-search:active {
    color: #ffffff4d;
    background: #756157;
}

/*subscribe*/

.subscribe {
    padding-top: 96px;
    padding-bottom: 104px;
    color: #fff;
    text-align: center;
    background-color: #82B3D3;
    background-image: url(../images/subscribe.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe-title {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subscribe-discription {
    padding: 0;
    margin: 0 auto;
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    margin-bottom: 54px;
}

.field {
    color: #000;
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    height: 52px;
    border: none;
    background: #F2F2F2;
    border-radius: 4px 0px 0px 4px;
    padding: 0;
    margin: 0;
}

.newsletter-button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: #82B3D3;
    border-radius: 0px 4px 4px 0px;
}

.newsletter-button:hover {
    background: #68A2CA;
}

.newsletter-button:focus {
    background: #68A2CA;
}

.newsletter-button:active {
    color: #ffffff4d;
    background: #82B3D3;
}

/*Footer*/

.page-footer {
    text-align: center;
}

.page-footer-conteiner {
    display: flex;
    padding-top: 45px;
    padding-bottom: 35px;
    margin: 0 auto;
    justify-content: space-between;
    width: 1060px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 150px;
}

.footer-social-link {
    position: relative;
    display: block;
    width: 47px;
    height: 40px;
}

.footer-social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.footer-social-icon:hover {
    fill: #68A2CA;
}

.footer-social-icon:focus {
    color: #68A2CA;
}

.footer-social-icon:active {
    color: #68a2ca4d;
}

.footer-contacts-phone {
    color: #000;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

.footer-contacts-phone:hover {
    color: #756157;
}

.footer-contacts-phone:focus {
    color: #756157;
}

.footer-contacts-phone:active {
    color: #7561574d;
}

.footer-academy {
    padding-top: 8px;
}

.logo-acadamy {
    fill: #000;
}

.logo-acadamy:hover {
    fill: #756157;
}

.logo-acadamy:focus {
    color: #756157;
}

.logo-acadamy:active {
    color: #7561574d;
}

/*Catalog*/

.main-inner {
    padding-top: 35px;
    padding-left: 70px;
    color: #fff;
    background-color: #82B3D3;
    background-image: url(../images/background-catalog.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.inner-header-title {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 40px;
}

.breadcrumbs-link {
    padding-left: 18px;
    font-size: 16px;
    line-height: 21px;
    background-image: url("../images/icons/breadcrumbs.svg");
    background-repeat: no-repeat;
    background-size: 8px 20px;
    background-position: left center;
}

.breadcrumbs-link-index {
    padding-right: 24px;
    background-image: url("../images/icons/home.svg");
    background-repeat: no-repeat;
    background-size: 13px 15px;
    background-position: left center;

}

.catalog-filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
    padding-right: 70px;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

.filter-group-button {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.button-catalog-filter {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #82B3D3;
}

.button-catalog-filter:hover {
    background: #68A2CA;
}

.button-catalog-filter:focus {
    background: #68A2CA;
}

.button-catalog-filter:active {
    color: #ffffff4d;
    background: #82B3D3;
}

.filter-group-button .button-light {
    margin-top: 40px;
    background: none;
}

.filter-group-button .button-light:hover {
    color: #FFFFFF
}

.filter-group-button .button-light:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.filter-group-button .button-light:active {
    color: #ffffff4d;
}

.filter-group-button .button-light:disabled {
    color: #FFFFFF;
    opacity: 0.1;
}

.catalog-products {
    display: flex;
    text-align: center;
    padding-left: 70px;
    color: #000;
    background-color: #fff;
    margin-bottom: 40px;
}

.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 292px;
    height: 49px;
    margin-right: auto;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.select-control:hover {
    border: 2px solid #68A2CA;
}

.select-control:focus {
    border: 2px solid #68A2CA;
}

.select-control:active {
    border: 2px solid #3F5E72;
}

.select-control:disabled {
    color: #0000004d;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.card-grid {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.card-grid-item {
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

.card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 17px;
    border: #E5E5E5 2px solid;
    border-radius: 4px;
}

.card-grid-toggle:hover {
    border: 2px solid #000000;
}

.card-grid-toggle:focus {
    border: 2px solid #68A2CA;
}

.card-grid-toggle:active {
    border: 2px solid #000000;
}

.card-grid-item:last-child {
    margin-right: 70px;
}

.catalog-products .button:last-child {
    margin-right: 0;
}

.catalog-products-find {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-right: 200px;
}

.select-control {
    color: #333;
    font-size: 18px;
    line-height: 21px;
    margin-right: 70px;
}

/*Product card*/

.product-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    list-style: none;
    padding-left: 70px;
}

.product-card {
    padding: 20px;
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 16px 20px;
}

.product-card-link {
    color: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    grid-column: 1 / -1;
}

.product-card-name {
    color: #333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

.product-card-price {
    color: #333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.product-card-button {
    color: #fff;
    padding: 8px 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756157;
}

.product-card-button:hover {
    background: #615048;
}

.product-card-button:focus {
    background: #615048;
}

.product-card-button:active {
    color: #ffffff4d;
    background: #756157;
}



button.product-card-button {
    background-color: #82B3D3;
    width: 140px;
    height: 36px;
    padding: 0px;
}

button.product-card-button:hover {
    background: #68A2CA;
}

button.product-card-button:focus {
    background: #68A2CA;
}

button.product-card-button:active {
    color: #ffffff4d;
    background: #82B3D3;
}

.product-button-green {
    color: #fff;
    background-color: #7DB54F;
    width: 140px;
    height: 36px;
    padding: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.product-button-green:hover {
    background: #6C9E42;
}

.product-button-green:focus {
    background: #6C9E42;
}

.product-button-green:active {
    color: #ffffff4d;
    background: #7DB54F;
}

.product-card-rating {
    padding: 8px 22px;
    margin: 0;
    color: #333;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #F2F2F2;
}

.star {
    margin: auto 0px;
}

/*Pagination*/

.pagination {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 70px;
    list-style: none;
    background-color: #ffffff;
}

.pagination-item {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination li:not(:nth-child(4n+1)) .pagination-link:hover {
    background: #68A2CA;
}

.pagination li:not(:nth-child(4n+1)) .pagination-link:focus {
    background: #68A2CA;
}

.pagination li:not(:nth-child(4n+1)) .pagination-link:active {
    color: #ffffff4d;
    background: #82B3D3;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
    background-color: #82B3D3;
    border-radius: 4px;

}

.pagination li:nth-child(6) .pagination-link {
    padding: 12px 19px;
}

.pagination-current {
    color: #000;
    background-color: #F2F2F2;
}

.pagination-ellipsis {
    color: #000;
    font-size: 22px;
    line-height: 26px;
    background-color: #fff;
}

/*Subscribe-catalog*/

.subscribe-inner {
    color: #000;
    text-align: center;
    background-color: #fff;
    padding-top: 156px;
    padding-bottom: 104px;
}

.subscribe-inner-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-inner-discription {
    font-size: 22px;
    line-height: 26px;
}